body{
    background-color: #e5e5e5;
}
.container-form{
    max-width: 880px;
    width: 98%;
    margin: auto;
    padding: 48px;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
  
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 48px 0 10px;
    transition: .3s ease all;

}
.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,.4);
}
.formulario__grupo-descrip{
    grid-column: 2 span;
}

.formulario__input_descrip{
    

    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
}
.formulario__input_descrip:focus{
 
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,.4);
}
.formulario__input-error{
    font-size:12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    
    display: block;
}
.formulario__grupo-btn-enviar{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

/*media queries*/
@media screen and (max-width:800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-descrip,
    .formulario__grupo-btn-enviar{
    grid-column: 1;

}
}
/*Estilos de vista*/
.formulario__input2{
       width: 100%;
      
    background: #fff;
    
    border-radius: 3px;
    height: 45px;
    line-height: 20px;
    padding: 0 48px 0 10px;
    transition: .3s ease all;
}
.btnBuscar{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}